# Data Types and Structures Questions

1. What are data structures, and why are they important ?

  - Data structure is a way to organize data and help us to access, modify and keep data in a specific way.
  They are important because of following reason:
     - It helps to manipulate data easily
     - It conserve the memory usage

   Python has different type of data structures. e.g. List, Tuple Dictionaries
   etc.


2. Explain the difference between mutable and immutable data types with example
     - Elements can be added, removed and changed after the object is created. It is useful when there is a need to modify exising data frequently as the object share the same memory.
     - Elements of an immutatable data type cannot be modified after its creation. It ensures safety and performance.


      pylist = ["Mohit","Saxena","40","mohit@gmmail.com"]

      pytuple = ("Mohit","Saxena","40","mohit@gmmail.com")


      pylist[0] = "Shreay"
      print(pylist)

      pytuple[0] = "Shreay"  # TypeError: 'tuple' object does not support item assignment

      print(pytuple)

3. What are the main differences between lists and tuples in Python?

   - Lists are mutable because elements can be added, removed and changed after the list is created. It is useful when there is a need to modify exising data frequently as the object share the same memory.
   - Tuples are immutable because elements of a tuple cannot be modified after the tuple is created. It ensures safety and performance.

4. Describe how dictionaries store data.

  -  A dictionary type stores data in the form of key:value pairs. It means each item in dictionary must have a key and value associated to it. This helps to access dicitionary items based on key or values store in the dictionary.

5. Why might you use a set instead of a list in Python?

   - Since sets do not allow to store duplicate values, they would be prefered create unique collection of elements.

6. What is a string in Python, and how is it different from a list ?

 -  A string is an immutable data type that cannot be altered after creation but can only be re-intitialized.
 - Lists are mutable because elements can be added, removed and changed after the list is created. It is useful when there is a need to modify exising data frequently as the object share the same memory.

7. How do tuples ensure data integrity in Python?

-  Since tuple cannot be modified after the tuple is created. It ensures safety and performance through program execution.

8. What is a hash table, and how does it relate to dictionaries in Python?

- Hash table are data structures that allows data retieval by mapping keys to values. Dictionaries implements hashtable that store data as key:value pairs.

9. Can lists contain different data types in Python ?
 - Yes, list can contain different data types like string, integer, float etc.

10. Explain why strings are immutable in Python?
   - A string is an immutable data type that cannot be altered after creation but can only be re-intitialized. They gurantee a constant value during program run

     For example:

     str = "Learning Python" # string data type with value
     str[8] = "-" # TypeError: 'str' object does not support item assignment

11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries are much faster when you need to frequently check if an item exists or retrieve a value based on a key.
  - When we need to dynamically add or remove key-value pairs, dictionaries are more efficient

12. Describe a scenario where using a tuple would be preferable over a list

  - To store states of a country
  - To store pin codes of different places

13. How do sets handle duplicate values in Python?

  - While adding an element to a set, Python checks if the element already exists in the set using its hash value.

14. How does the “in” keyword work differently for lists and dictionaries?

- When you use 'in' with the list, Python checks each item in the list until until it finds a match. But when you use 'in' with the dictionaries, Python checks for the key in the hash table.

15. Can you modify the elements of a tuple? Explain why or why not?

  -No, we cannot modify the elements of a tuple. It is because the tuples are immutable which make it a safer and efficient option to store and access tuple items.

16. What is a nested dictionary, and give an example of its use case ?
   
   - A dictionary containing another dictionary is Knows  as nested dictionary. It is required to organize complex data like configuration files.

   For example:
   Productdetails = {"Name":"Product1", "Type":{".Net":"Type1","JS":"Type2"}}

17. Describe the time complexity of accessing elements in a dictionary
   
   - Time complexity of dictionary is O(1) on average which means that the algorithm performs a fixed number of operations, irrespective of how large or small the input may be.

18. In what situations are lists preferred over dictionaries?

   - When we want to store and access the data sequentially
   - When coolection items required to be accessed using index
   - When required to perform stack and queue operations

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionories stores data in hash table as key:value pairs which does not maintain the order of elements. Iterating over a dictionary or fetching its keys or values could produce elements in an arbitrary order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Data is retrieved based on index or position of the element in a list. Use list when need to access data by their position    
    - Data is accessed by a key associated to the value in a dictionary. Use Dictionary when need to access data by their unique key

# Practical Questions

In [9]:
#1. Write a code to create a string with your name and print it

def printstring(name):
    print(name)

printstring("Mohit Saxena")

Mohit Saxena

In [10]:
# 2. Write a code to find the length of the string "Hello World"

def getlength(str):
    print(len(str))

getlength("Hello World")

11

In [11]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

def getslice(str):
    print(str[:3])

getslice("Python Programming")

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase

def stconvert(name):
    print(name.upper())

stconvert("hello")

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

def streplace(str):
    print(str.replace("apple","orange"))

streplace("I like apple")

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
def printnum(lst):
  print(lst)

printnum([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

def appenditem(lst):
  lst.append(10)
  print(lst)

appenditem([1,2,3,4])

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

def removeitem(lst):
  lst.remove(3)
  print(lst)

removeitem([1,2,3,4,5])

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

def accessitem(lst):
  print(lst[1])

accessitem(['a', 'b', 'c', 'd'])

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

def reverselist(lst):
  print(lst[::-1])

reverselist([10, 20, 30, 40, 50])

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

def createtuple(tupl):
  print(tuple)

createtuple((100,200,300))

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

def accessitem(tupl):
  print(tupl[-2])

accessitem(('red', 'green', 'blue', 'yellow'))
#

blue

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
def findmin(lst):
  num = min(lst)
  print(num)

findmin((10, 20, 5, 15))

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

def finindex(element,lst):
  index = lst.index(element)
  print(index)

finindex("cat",('dog', 'cat', 'rabbit'))

1

In [24]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

def findkiwi(tup):
  if "kiwi" in tup :
    print("kiwi is present")
  else:
    print("kiwi not present")

findkiwi(("apple","banana","orange","kiwi"))

kiwi is present

In [26]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

def createset(egset):
  print(egset)

setabc = {'a','b','c'}
createset(setabc)

{'b', 'a', 'c'}

In [28]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
def clearset(egset):
  egset.clear()
  print(egset)

setabc = {1, 2, 3, 4, 5}
clearset(setabc)

{1, 2, 3, 4, 5}

In [30]:
 # 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

def removeele(egset,ele):
  egset.remove(ele)
  print(egset)

setid = {1, 2, 3, 4}
removeele(setid,4)

{1, 2, 3}

In [31]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

def findunion(seta,setb):
  setc= seta|setb
  print(setc)

findunion({1, 2, 3}, {3, 4, 5})

{1, 2, 3, 4, 5}

In [32]:
 # 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
def findinter(seta,setb):
  setc= seta&setb
  print(setc)

findinter({1, 2, 3}, {3, 4, 5})

{3}

In [34]:
 #20. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
def createdictionary(dictionary1):
  print(dictionary1)

dictionary1 = {"name":"Mohit","age":25,"city":"Delhi"}
createdictionary(dictionary1)

{'name': 'Mohit', 'age': 25, 'city': 'Delhi'}

In [37]:
#21. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

def addtodictionary(dictionary1):
  dictionary1["country"] = "USA"
  print(dictionary1)

dictionary1 = {"name":"John","age":25}
addtodictionary(dictionary1)

{'name': 'John', 'age': 25, 'country': 'USA'}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
 #22. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
def findname(cust):
  print(cust["name"])

cust = {'name': 'Alice', 'age': 30}
findname(cust)

Alice

In [41]:
#23. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
def removebykey(cust):
  del cust["age"]
  print(cust)

cust = {'name': 'Bob', 'age': 22, 'city': 'New York'}
removebykey(cust)

{'name': 'Bob', 'city': 'New York'}

In [44]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
def findcity(cust):
  if "city" in cust:
    print("city is present")
  else:
    print("city not present")

cust = {'name': 'Alice', 'city': 'Paris'}
findcity(cust)

city is present

In [45]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all

def printall(lst,tupl,dictionary1):
  print(lst)
  print(tupl)
  print(dictionary1)

printall([1,2,3,4,5],(1,2,3,4,5),{"name":"Mohit","age":25,"city":"Delhi"})

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Mohit', 'age': 25, 'city': 'Delhi'}

In [47]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
def create_list():
  random_list = random.sample(range(1, 101), 5)
  random_list.sort()
  print(random_list)

create_list()

[46, 77, 79, 84, 95]

In [48]:
#28. Write a code to create a list with strings and print the element at the third index.

def printelementonindex(lst,index):
  print(lst[index])

printelementonindex(["UP","Maharashtra","Delhi"],2)

Delhi

In [49]:
#29. Write a code to combine two dictionaries into one and print the result.
def combinedic(dicstionary1):
  dictionary2 = {"gender":"Male", "City":"Delhi"}
  dictionary1.update(dictionary2)
  print(dictionary1)

dictionary1 = {"name":"Mohit","age":25}
combinedic(dictionary1)

{'name': 'Mohit', 'age': 25, 'gender': 'Male', 'City': 'Delhi'}

In [51]:
#30. Write a code to convert a list of strings into a set.

def convertlisttoset(lst):
  print(set(lst))

convertlisttoset(["UP","Maharashtra","Delhi","UP"])

{'Maharashtra', 'Delhi', 'UP'}